---
import BaseLayout from "@layouts/BaseLayout.astro";
---

<BaseLayout title="Form submission successful" description="The form has been submitted successfully">
    <main class="grid place-content-center gap-4 p-8">

    <h1 class="text-4xl font-bold text-[#dfc998] ">Form submission successful</h1>
    <p class="text-lg">Thank you for contacting us! We will get back to you as soon as possible</p>
    <a href="/" class="px-6 py-4 bg-[#dfc998] text-black rounded-full block w-max hover:cursor-pointer">Go back</a>
    </main>
</BaseLayout>
