---
import Form from "@components/Form.astro"
---

<html lang="en">
<head>
    <meta charset="utf-8"/>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg"/>
    <meta name="viewport" content="width=device-width"/>
    <meta name="generator" content={Astro.generator}/>
    <title>The Beauty Hut | Face & Body Sculpting</title>
</head>
<body class="bg-black text-white">
<main class="p-8 space-y-8">
    <h1 class="text-5xl font-bold text-[#dfc998]">Make Your Dream a reality.</h1>
    <div class="flex flex-col md:flex-row justify-between items-center space-y-4">
        <div class="lg:w-1/3">
          <Form/>
        </div>
        <div class="relative lg:w-1/2">
            <img src="skin.png" alt="Skin pattern of cheetah" class="relative rounded-ld"/>
            <img src="women-1.png" alt="A happy and healthy women sitting on floor." class="absolute object-cover h-full top-8 right-[50%] lg:right-[70%] rounded-lg"/>
        </div>
    </div>
</main>
</body>
</html>

