---
import BaseLayout from "@layouts/BaseLayout.astro";
import Form from "@components/Form.astro";
import Card from "@components/Card.astro";
import Testimonial from "@components/Testimonial.astro";
import FAQ from "@components/FAQ.astro";
---

<BaseLayout title="The Beauty Hut | Face & Body Sculpting"
            description="The Beauty Hut | Face & Body Sculpting | Make your dream a reality">

    <!-- Hero Section -->
    <main class="space-y-8">
        <h1 class="p-8 text-3xl md:text-5xl font-bold text-[#dfc998]">Make Your Dream a reality.</h1>
        <div class="flex flex-col lg:flex-row justify-between items-center space-y-12">
            <div class="lg:w-2/5 p-8">
                <Form/>
            </div>
            <div class="grid grid-cols-10 lg:w-1/2 p-4 md:p-12 lg:p-0">
                <img src="/images/skin.png" alt="Skin pattern of cheetah" id="skin-1"
                     class=""/>
                <img src="/images/women-1.png" alt="A happy and healthy women sitting on floor."
                     class="" id="women-1"/>
            </div>
        </div>
    </main>

    <img src="/images/line.png" alt="Curvy line for decoration purpose" class="w-1/2 h-[12rem]"/>

    <!--  Secondary Section  -->
    <section class="flex flex-col lg:flex-row justify-center items-center px-4 md:px-20 gap-8">
        <img src="/images/in-clinic-1.png" alt="A doctor trating a patient in clinic" class="rounded-[2rem]"/>

        <div class="space-y-4">
            <h2 class="text-3xl font-bold text-[#dfc998]">Discover the Power of CoolSculpting</h2>
            <p>Unlock the your inner confidence and seize control of your physique through CollSculpting's secure and
                efficient fat reduction treatment. Employing a precision colling technique, CoolSculpting freezes
                eradicates persistent fat cells, yielding a more defined and sculpted aesthetic. Schedule your
                consultation now and explore how CoolSculpting can not only transform your appearance but also elevate
                your confidence.</p>
            <a href="tel:123456789"
               class="px-6 py-4 bg-[#dfc998] text-black rounded-full block w-max hover:cursor-pointer">123-4560-789</a>
        </div>
    </section>

    <!-- Image Stack -->
    <div class="px-8 lg:px-20 my-12">
        <div class="bg-[url('/images/skin.png')] h-full rounded-[2rem] grid place-content-center p-4 md:p-8">
            <img src="/images/before-after.png" alt="Four images showing before and after CoolSculpting treatment"
                 class="rounded-[2rem]"/>
        </div>
    </div>

    <!-- Card Section -->
    <section class="p-4 md:px-20 mt-12 grid grid-cols-1 lg:grid-cols-2 lg:grid-rows-2 gap-8">
        <Card title="Non-invasive, non-surgical treamtment"
              description="No downtime needed - return to normal activies right away" src="/images/treatment-1.png"
              alt="Doctor performing sculpting on paitent's stmach"/>
        <div class="flex flex-col justify-center items-start gap-8">
            <h2 class="text-3xl md:text-4xl font-bold text-[#dfc998]">Tune your body with CoolSculpting.</h2>
            <a href="tel:123456789"
               class="px-6 py-4 bg-[#dfc998] text-black rounded-full block w-max hover:cursor-pointer">123-4560-789</a>
        </div>
        <Card title="Target stuborn fat in specific areas" description="Effective and proven results"
              src="/images/treatment-2.png" alt="Doctor performing sculpting on paitent leg"/>
        <Card title="Customize treatment plan to meet your needs" description="Boost self confidence and body positiviy"
              src="/images/treatment-3.png" alt="Doctor discussing plan with paitent"/>
    </section>

    <!-- Testimonial Section -->
    <section class="space-y-8 mt-12">
        <h2 class="text-4xl font-bold text-[#dfc998] px-8 lg:px-20">What people say about us</h2>
        <div class="flex flex-col lg:flex-row justify-center items-center gap-4">
            <Testimonial name="Dani Marino" jobTitle="Busnissman"
                         testimonial="Lorem ipsum doler sit amet, ino consetuaut adipisicaing elitoe. Malestie faubices."
                         imgSrc="/images/testimonial-img.png"></Testimonial>
            <Testimonial name="Dani Marino" jobTitle="Busnissman"
                         testimonial="Lorem ipsum doler sit amet, ino consetuaut adipisicaing elitoe. Malestie faubices."
                         imgSrc="/images/testimonial-img.png"></Testimonial>
            <Testimonial name="Dani Marino" jobTitle="Busnissman"
                         testimonial="Lorem ipsum doler sit amet, ino consetuaut adipisicaing elitoe. Malestie faubices."
                         imgSrc="/images/testimonial-img.png"></Testimonial>
        </div>
    </section>

    <img src="/images/line.png" alt="Curvy line for decoration purpose" class="w-1/2 h-[12rem] self-end"/>

    <!-- FAQ Section -->
    <section class="flex flex-col xl:flex-row justify-center items-center gap-20 px-8 lg:px-20 mt-20">
        <img src="/images/FAQ.png" alt="Image showing fat on differnt parts of body"/>
        <div class="space-y-4 w-full">
            <h2 class="text-4xl font-bold text-[#dfc998] w-full">FAQ</h2>
            <div class="space-y-1">
                <FAQ question="What areas can be treated with CoolSculpting?"
                     answer="Lorem ipsum doler sit amet, ino consetuaut adipisicaing elitoe."/>
                <FAQ question="How many CoolSculpting treatments will I need?"
                     answer="Lorem ipsum doler sit amet, ino consetuaut adipisicaing elitoe."/>
                <FAQ question="When will I see the results CoolSculpting?"
                     answer="Lorem ipsum doler sit amet, ino consetuaut adipisicaing elitoe."/>
                <FAQ question="Are the results from CoolSculpting permanent?"
                     answer="Lorem ipsum doler sit amet, ino consetuaut adipisicaing elitoe."/>
                <FAQ question="Is CoolSculpting right for me?"
                     answer="Lorem ipsum doler sit amet, ino consetuaut adipisicaing elitoe."/>
                <FAQ question="Does CoolSculpting hurt?"
                     answer="Lorem ipsum doler sit amet, ino consetuaut adipisicaing elitoe."/>
                <FAQ question="What areas can be treated with CoolSculpting?"
                     answer="Lorem ipsum doler sit amet, ino consetuaut adipisicaing elitoe."/>
            </div>
        </div>
    </section>

    <!-- About Section -->
    <div class="bg-[url('/images/skin.png')] h-[26rem] w-full bg-cover flex flex-col lg:flex-row justify-center items-start lg:items-center gap-4 p-4 md:p-20 my-12">
        <p class="text-3xl md:text-4xl font-bold lg:w-1/2 drop-shadow-2xl flex flex-col" id="shadowed-text">
            <span>Feel confident and look</span> <span>younger without invasive</span>
            <span>surgery with CoolSculpting</span></p>
        <a href="tel:123456789"
           class="px-6 py-4 shadow-xl bg-white text-black rounded-full block w-max hover:cursor-pointer">123-4560-789</a>
    </div>
</BaseLayout>

<style>
    #skin-1, #women-1 {
        grid-row: 1 / 2;
        border-radius: 2rem;
    }

    #women-1 {
        grid-column: 1 / 7;
        align-self: end;
        top: 2rem;
        position: relative;
    }

    #skin-1 {
        grid-column: 2 / -1;
    }

    #shadowed-text {
        text-shadow: #000 1px 1px 30px;
    }
</style>