<footer class="grid grid-cols-1 md:grid-cols-3 gap-4 md:gap-8 p-4 md:p-8">
    <p class="text-gray-200 text-sm md:text-base text-center">2024 The Beauty Gut, Alright rights reserved</p>
    <img src="/logo.png" alt="Logo of The Beauty Hut" class="mx-auto" />
    <div class="flex flex-row justify-center items-center space-x-2">
        <a href="https://www.facebook.com/"> <img src="/icons/facebook.png" alt="Facebook icon" class="w-6 h-6" /></a>
        <a href="https://www.instagram.com/"> <img src="/icons/instagram.png" alt="Instagram icon" class="w-6 h-6" /></a>
    </div>
</footer>
