---
import {Icon} from 'astro-icon/components'
---

<header class="py-8 px-3 md:px-8 space-y-8 text-gray-200">
    <div class="flex flex-row justify-between items-center">
        <div class="flex flex-row justify-center items-center space-x-1 md:space-x-2">
            <a href="mailto:thebeautyhuthb@gmail.com"
               class="text-sm md:text-base hover:text-[#dfc998] flex flex-row justify-center items-center space-x-1 md:space-x-2">
                <Icon name="envelope"></Icon>
                <span>thebeautyhut@gmail.com</span>
            </a>
            <a href="tel:949-500-9595"
               class="text-sm md:text-base hover:text-[#dfc998] flex flex-row justify-center items-center space-x-1 md:space-x-2">
                <Icon name="phone"></Icon>
                <span>949-500-9595</span></a>
        </div>
        <div class="flex flex-row justify-center items-start md:items-center space-x-1 md:space-x-2">
            <a href="https://www.facebook.com/"
               class="text-sm md:text-2xl hover:text-[#dfc998] flex flex-row justify-center items-center space-x-1 md:space-x-2">
                <Icon name="facebook"></Icon>
            </a>
            <a href="https://www.instagram.com/"
               class="text-sm md:text-2xl hover:text-[#dfc998] flex flex-row justify-center items-center space-x-1 md:space-x-2">
                <Icon name="instagram"></Icon>
            </a>
        </div>
    </div>
    <div class="flex flex-row justify-between items-center">
        <img src="/logo.png" alt="Logo of The Beauty Hut"/>
        <div class="flex flex-row justify-center items-center space-x-4">
            <a href="tel:123456789"
               class="text-sm md:text-base px-3 py-1 border-2 border-slate-100 hover:bg-slate-100 hover:text-black transition-colors rounded-full">123
                456 789</a>
            <Icon name="search" class="md:text-2xl"></Icon>
        </div>
    </div>
</header>