<header class="py-8 px-3 md:px-8 space-y-8 text-gray-200">
    <div class="flex flex-row justify-between items-center">
        <div class="flex flex-row justify-center items-center space-x-1 md:space-x-2">
           <img src="/icons/email.png" alt="Email icon">
            <span class="text-sm">thebeautyhut@gmail.com</span>
            <img src="/icons/phone.png" alt="Phone icon">
            <span class="text-sm md:text-base">949-500-9595</span>
        </div>
        <div class="flex flex-row justify-center items-start md:items-center space-x-1 md:space-x-2">
            <img src="/icons/facebook.png" alt="Facebook icon" />
            <img src="/icons/instagram.png" alt="Instagram icon"/>
        </div>
    </div>
    <div class="flex flex-row justify-between items-center">
        <img src="/logo.png" alt="Logo of The Beauty Hut" />
        <div class="flex flex-row justify-center items-center space-x-4">
            <button class="px-3 py-1 border-2 border-slate-100 rounded-full">123 456 789</button>
            <img src="/icons/search.png" alt="Search icon"/>
        </div>
    </div>
</header>